{% macro display_array_recursive(array, separator = ', ', opening_char = '[', closing_char = ']') -%}
{{ opening_char }}
{%- for key, value in array -%}
    {%- if value is iterable -%}
        {{ key }} => {{ _self.display_array_recursive(value, separator, opening_char, closing_char) }}
    {%- else -%}
        {{ key }} => {{ value }}
        {%- if not loop.last %}{{ separator }}{% endif -%}
    {%- endif -%}
{%- endfor -%}
{{ closing_char }}
{%- endmacro %}

<div id="request_{{ index }}" class="tab-pane active">
    {% if time.total > 0 %}
      {% set connection_percent = (100 * time.connection) / time.total %}
      {% set process_percent = (100 * (time.total - time.connection)) / time.total %}

      <h5>Time</h5>
      <table>
          <tbody>
              <tr>
                  <th>Duration total</th>
                  <td>{{ (time.total * 1000)|number_format(0, '', '') }} <small>ms</small></td>
              </tr>
              <tr>
                  <th>Duration connection</th>
                  <td>{{ (time.connection * 1000)|number_format(0, '', '') }} <small>ms</small> ({{ connection_percent|number_format(0, '', '') }}%)</td>
              </tr>
              <tr>
                  <th>Duration process</th>
                  <td>{{ ((time.total - time.connection) * 1000)|number_format(0, '', '') }} <small>ms</small> ({{ process_percent|number_format(0, '', '') }}%)</td>
              </tr>
          </tbody>
      </table>
      <div class="progress progress-striped">
          <div class="bar bar-warning" style="width: {{ connection_percent|number_format(0) }}%;">{% if connection_percent > 10 %}{{ connection_percent|number_format(0) }}%{% endif %}</div>
          <div class="bar bar-success" style="width: {{ process_percent|number_format(0) }}%;">{% if process_percent > 10 %}{{ process_percent|number_format(0) }}%{% endif %}</div>
      </div>
    {% endif %}

    <h5>Information</h5>
    <table>
        <tbody>
            <tr>
                <th>Method</th>
                <td>{{ request.method }}</td>
            </tr>
            <tr>
                <th>Protocol</th>
                <td>{{ request.scheme }}</td>
            </tr>
            <tr>
                <th>Host</th>
                <td>{{ request.host }}</td>
            </tr>
            <tr>
                <th>Port</th>
                <td>{{ request.port }}</td>
            </tr>
            <tr>
                <th>Path</th>
                <td>{{ request.path }}</td>
            </tr>
            <tr>
                <th>Query</th>
                <td>
                    {% if request.query is iterable %}
                        {{ request.query|url_encode }}
                    {% else %}
                        {{ request.query }}
                    {% endif %}
                </td>
            </tr>
            {% if request.method == 'GET' %}
            <tr>
                <th>URL</th>
                <td>
                    {% set queryStr = request.query is iterable ? request.query|url_encode : request.query %}
                    <a href="{{ request.scheme }}://{{ request.host }}{{ request.path }}{% if queryStr %}?{{ queryStr }}{% endif %}" target="_blank">{{ request.scheme }}://{{ request.host }}{{ request.path }}{% if queryStr %}?{{ queryStr }}{% endif %}</a>
                </td>
            </tr>
            {% endif %}
        </tbody>
    </table>

    <h5>Headers</h5>
    <table>
        <tbody>
        {% for header,value in request.headers %}
            <tr>
                <th>{{ header }}</th>
                <td>{{ value|join(', ')|raw }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if request.query is iterable and request.query is not empty %}
    <h5>Query Parameters</h5>
    <table>
        <tbody>
        {% for name,parameter in request.query %}
            <tr>
                <th>{{ name }}</th>
                <td>
                    {% if parameter is iterable %}
                        {{ _self.display_array_recursive(parameter) }}
                    {% else %}
                        {{ parameter }}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}

    {% if request.body is not empty %}
        <h5>Content</h5>
        <pre><code class="language-json" data-body="{{ request.body|e('html_attr') }}">{{ request.body }}</code></pre>
    {% endif %}
</div>
