<div id="response_{{ index }}" class="tab-pane">
    <h5>Information</h5>
    <table>
        <tbody>
            <tr>
                <th>Code</th>
                <td><strong>{{ response.statusCode }}</strong></td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ response.reasonPhrase }}</td>
            </tr>
        </tbody>
    </table>

    <h5>Headers</h5>
    <table>
        <tbody>
        {% for header,value in response.headers %}
            <tr>
                <th>{{ header }}</th>
                <td>{{ value|join(', ') }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <h5>Content</h5>
    {% if response.body is not empty %}
        <pre><code class="language-json" data-body="{{ response.body|e('html_attr') }}">{{ response.body }}</code></pre>
    {% else %}
        <p style="color: #999; font-style: italic;">Empty response body</p>
    {% endif %}
</div>
