<div class="guzzle">
    <h2>Requests</h2>
    {% for index,request in requests %}
    <div id="call_{{ index }}" class="request {{ request.method|lower }}">
        <div class="status icon {% if request.response.error %}error{% else %}success{% endif %}"></div>

        <div class="summary">
            <h3>
                <span class="method">{{ request.method }}</span>
                <span class="path">&nbsp{{ request.path }}</span>
            </h3>
            <div class="code">
                <abbr title="{{ request.response.reasonPhrase }}">{{ request.response.statusCode }}</abbr>
            </div>
        </div>

        <div class="details">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="#request_{{ index }}" data-toggle="tab">Request</a>
                </li>
                <li>
                    <a href="#response_{{ index }}" data-toggle="tab">Response</a>
                </li>
            </ul>

            <div class="tab-content">
                {% include 'PlaybloomGuzzleBundle:Profiler:requestDetails.html.twig' with {'index':index, 'request':request} %}
                {% include 'PlaybloomGuzzleBundle:Profiler:responseDetails.html.twig' with {'index':index, 'request':request} %}
            </div>

            <div class="progress-striped" style="text-align:center;background-color:#ddd;margin:5px 0 30px 0;padding: 0;font-variant:small-caps;">
                <div class="bar">
                    <a  style="display:block;text-decoration:none;" href="#call_{{ index }}" title="top">back to top</a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
